
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/product-list"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="cart-outline" routerLink="/add-to-cart" style="font-size: 50px;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-icon name="checkmark-circle" color="success" size="large"></ion-icon>
  <h2>Your order has been placed successfully!</h2>
  <p>Thank you for shopping with us.</p>
</ion-content>
<ion-button routerLink="/home" expand="full">Continue Shopping</ion-button>


