<ion-header>
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form (ngSubmit)="signup()">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" [(ngModel)]="signupData.username" name="username" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="signupData.email" name="email" required ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="signupData.password" name="password" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Sign Up</ion-button>
  </form>

  <p class="ion-text-center">Already have an account? <a routerLink="/">Login</a></p>
</ion-content>
